<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <title>May the Force Be With You</title>
  </head>
  <body>
    <header>
      <h1>WordPress Headless CMS Demo</h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; 2023 by Michael D. Hilborn
    </footer>
  </body>
</html>